.stop__watch__container {
}
.stop_watch_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.stopwatch {
  height: 100px;
  width: 100px;
  border: 1px solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

button {
  margin-right: 10px;
}
